@import "../node_modules/bootstrap/scss/bootstrap";

$blanc: #fff;
$orangeclair: #F0BA6C;
$orange: #E19417;
$bleuclair: #B2CED7;
$bleu: #077189;
$bleufonce: #053E44;

$titre: "acier-bat-solid", sans-serif;
$sous-titre: "itc-avant-garde-gothic-pro", sans-serif;
$texte: "itc-avant-garde-gothic-pro", sans-serif;



body {
    margin: 0;
    background: rgb(178, 206, 208);
    background: linear-gradient(180deg, rgba(178, 206, 208, 1) 29%, rgba(7, 113, 137, 1) 100%);
    background-repeat: no-repeat;
    // height: 100vh;
}

header {
    margin-top: 50px;

    a {
        position: fixed;
    }
}

.hero {
    padding-bottom: 100px;

    .contenu {
        // background-color: lightpink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            // background-color: lightgreen;
            font-family: $titre;
            font-size: 5rem;
            color: $blanc;
            margin-top: 50px;
        }

        .bat {
            background-color: lightgray;
            width: 50%;
            height: 500px;
        }

        a {
            text-decoration: none;
            color: $orangeclair
        }
    }
}

.etages {
    // background-color: lightpink;

    .filtre {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;

        .btn {
            // background-color: $bleuclair;
            color: $blanc;
            border: 2px solid $bleu;
            border-radius: 20px;
            margin-left: 10px;
            box-shadow: 3px 4px 0px 0 $bleufonce;
        }
    }

    .contenu-etage {
        display: flex;

        .img-etage {
            display: flex;
            flex-direction: column;
            // background-color: lightgray;
            width: 100%;
            position: sticky;

            img {
                max-height: 80vh;
                border-radius: 20px;
                margin-bottom: 70px;
            }
        }

        .etage-texte {
            // background-color: $bleu;
            margin-left: 30px;
            padding: 10px;
            width: 30%;
            height: 150px;
            border: $blanc solid 2px;
            border-radius: 20px;
            box-shadow: 4px 6px 0px 0 $bleufonce;

        }
    }
}

footer {
    img {
        height: 500px;
    }
}

@import "mobile";